.about-section {
  background-color: #ecebe8;
  font-family: 'Martel Sans', sans-serif;
  height: 520px;
}

.about-title {
  color: var(--black);
  font-size: 20px;
}

.page-title {
  color: rgba(25, 25, 26, 0.4);
  font-size: 75px;
}

.page-paragraph {
  color: var(--black);
  font-size: 18px;
}

/* Media queries for mobile */
@media (max-width: 768px) {
  .about-title {
    font-size: 12px;
  }

  .page-title {
    font-size: 22px;
  }

  .page-paragraph {
    font-size: 12px;
  }
}
