.about-section {
  background-color: var(--white);
  color: var(--black);
  padding-top: 45px;
}

.h2 {
  color: var(--black);
  text-align: center;

}

.body1 {
  color: var(--grey);
  font-family: "Gudea", sans-serif;
}

.body {
  max-width: 85%;
  display: block;
  margin: auto;
  text-align: justify;
}


@media screen and (max-width: 1024px) {
  .h2 {
    margin-left: 100px;
  }
}

/* For screens smaller than 768px, adjust the margin-left */
@media screen and (max-width: 768px) {
  .h2 {
    margin-left: 60px;
  }
}

/* For screens smaller than 576px, adjust the margin-left */
@media screen and (max-width: 576px) {
  .h2 {
    margin-left: 20px;
  }
}